<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Aggiungi Recensione</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container mt-4">
        <h2 th:text="'Aggiungi recensione per: ' + ${book.title}"></h2>

        <form th:action="@{'/review/add/' + ${book.id}}" th:object="${review}" method="post" class="row g-3">

            <!-- Title -->
            <div class="col-md-12">
                <label for="title" class="form-label">Titolo</label>
                <input type="text" th:field="*{title}" class="form-control bg-dark border-secondary text-white" required />
            </div>
	
			<div class="col-md-12">
			    <label class="form-label">Voto</label><br>
			    <div class="rating">
			        <input type="radio" th:field="*{rating}" id="star5" value="5"/>
			        <label for="star5" title="5 stelle">★</label>

			        <input type="radio" th:field="*{rating}" id="star4" value="4"/>
			        <label for="star4" title="4 stelle">★</label>

			        <input type="radio" th:field="*{rating}" id="star3" value="3"/>
			        <label for="star3" title="3 stelle">★</label>

			        <input type="radio" th:field="*{rating}" id="star2" value="2"/>
			        <label for="star2" title="2 stelle">★</label>

			        <input type="radio" th:field="*{rating}" id="star1" value="1"/>
			        <label for="star1" title="1 stella">★</label>
			    </div>
			</div>

            
            <!-- Text -->
            <div class="col-md-12">
                <label for="text" class="form-label">Testo</label>
                <textarea th:field="*{text}" rows="5" class="form-control bg-dark border-secondary text-white"></textarea>
            </div>

            <!-- Submit -->
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Salva Recensione</button>
                <a th:href="@{/review/list}" class="btn btn-secondary ms-2">Annulla</a>
            </div>

        </form>
    </div>
</section>

</body>
</html>
