<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Modifica Autori</title>
</head>
<body>

<section layout:fragment="content">
	
	<div class="container mt-4">

		<p th:if="${message}" th:text="${message}" class="alert alert-success"></p>

		<h2 class="mb-4">Autori</h2>

		<table class="table table-striped table-bordered align-middle style-occasional table-hover">
		    <thead class="table-dark">
		        <tr>
		            <th>Nome</th>
		            <th>Date</th>
		            <th>Nazionalità</th>
		            <th>Foto</th>
					<!-- <th>Books</th> -->
					<th>Azione</th>
		        </tr>
		    </thead>
		    <tbody class="table-dark">
		        <tr th:each="author : ${authors}">
		            <td th:text="${author.firstName + ' ' + author.lastName}">Author Name</td>
					<td class="text-center" th:if="${author.deathDate == null}" th:text="${author.birthDate}">Birth Date</td>
		            <td class="text-center" th:if="${author.deathDate != null}" th:text="${author.birthDate + ' → ' + author.deathDate}">Birth Date  Death Date</td>
		            <td class="text-center" th:text="${author.nationality}">Nationality</td>
					<td>
					    <img th:src="${author.foto != null} ? @{'/image/author/' + ${author.id}} : @{/images/default-profile.jpg}"
					         alt="Foto" 
					         class="img-thumbnail cover-image-small mx-auto d-block"/>
					</td>
					<!-- 
					<td class="text-center">
					    <span th:if="${author.books != null}" th:each="book : ${author.books}" class="d-block" th:text="${book.title}">Book Title</span>
					    <span th:if="${author.books == null || #lists.isEmpty(author.books)}">—</span>
					</td>
				-->
				<td class="text-center">
				    <form th:action="@{'/author/edit/' + ${author.id}}" method="get">
				        <button type="submit" class="btn btn-success btn-sm">
				            Modifica
				        </button>
				    </form>
				</td>
		        </tr>
				
		    </tbody>
		</table>

	</div>

	
</section>

</body>
</html>