<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Cancella Libri</title>
</head>
<body>

<section layout:fragment="content">

	<table class="table table-striped table-bordered align-middle style-occasional table-hover text-nowrap">
	    <thead class="table-dark">
	        <tr>
	            <th style="width: 30%;">Cover</th>
	            <th>Titolo</th>
	            <th>Anno</th>
	            <th>Autori</th>
	            <th>Azione</th>  <!-- New column -->
	        </tr>
	    </thead>
	    <tbody class="table-dark">
	        <tr th:each="book : ${books}">
	            <td>
	                <div class="d-flex flex-wrap gap-2" th:if="${map[book.id] != null}">
	                    <img th:each="img, iterStat : ${book.immagini}"
	                         th:src="@{'/image/book/' + ${book.id} + '/' + ${iterStat.index}}"
	                         class="img-thumbnail cover-image-small  mx-auto d-block" />
	                </div>
	                <div th:if="${map[book.id] == null}">
	                    <span>No image</span>
	                </div>
	                <span th:if="${book.immagini == null or book.immagini.empty}">—</span>
	            </td>
	            <td th:text="${book.title}">Title</td>
	            <td th:text="${book.publicationYear}">Year</td>
	            <td>
	                <ul class="mb-0 ps-3">
	                    <li th:each="author : ${book.authors}" 
	                        th:text="${author.firstName + ' ' + author.lastName}">Author Name</li>
	                </ul>
	            </td>
	            <td class="text-center">
	                <form th:action="@{'/book/delete/' + ${book.id}}" method="get"
	                      onsubmit="return confirm('Are you sure you want to delete this book?');">
	                    <button type="submit" class="btn btn-danger btn-sm">Cancella</button>
	                </form>
	            </td>
	        </tr>
	    </tbody>
	</table>

</section>

</body>
</html>
