html, body { 
	height: 100%; 
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
#footer {
	color: white;
	text-align: center;
	width: 100%;
	left: 0px;
	bottom: 0px;
	padding: 10px;
}

.style-occasional {
  box-shadow: 0px 2px 10px gray;
  z-index: 1;
}

.style-occasional-box {
  box-shadow:  0px  0px 2px 1px gray;
  z-index: 1;
}

.cover-image {
  max-height: 19rem;
  object-fit: cover;
}

.cover-image-small {
  max-height: 14rem;
  object-fit: cover;
}