<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/fragments/layouts/base_layout}">
<head>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content">

	<h1 class="text-center">Benvenuti a SiwBooks</h1>

	<div class="text-center">
	<a th:href="@{/author/list}" class="btn btn-primary mb-3">
	    Visualizza tutti gli autori
	</a>
	<a th:href="@{/book/list}" class="btn btn-primary mb-3">
	    Visualizza tutti i libri
	</a>
	</div>
</section>

</body>
</html>
